body {
	background-color: #0A24A9;
}
.duck {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
#content {
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	max-width: 200px;
	position: fixed;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}
.ring {
	border-radius: 50%;
	position: absolute;
	box-shadow: 0px 0px 0px 2px gray inset;
}
.ring:nth-child(1) {
	width: 100%;
	height: 100%;
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	max-width: 200px;
	background-color: white;	
}
.ring:nth-child(2) {
	width: 90%;
	max-width: 90%;
	height: 90%;
	max-height: 90%;
	background-color: red;
	left: 5%;
	top: 5%;
}
.ring:nth-child(3) {
	width: 70%;
	max-width: 70%;
	height: 70%;
	max-height: 70%;
	background-color: white;
	left: 15%;
	top: 15%;
}
.ring:nth-child(4) {
	width: 50%;
	max-width: 50%;
	height: 50%;
	max-height: 50%;
	background-color: red;
	left: 25%;
	top: 25%;
}
.ring:nth-child(5) {
	width: 30%;
	max-width: 30%;
	height: 30%;
	max-height: 30%;
	background-color: white;
	left: 35%;
	top: 35%;
}
.ring:nth-child(6) {
	width: 10%;
	max-width: 10%;
	height: 10%;
	max-height: 10%;
	background-color: red;
	left: 45%;
	top: 45%;
}

